<!-- region_events.html -->

{% extends "viewer/base.html" %}

{% block content %}
<h1>Events in region {{ region }}</h1>
{% if events %}
    <div class="row mt-4">
        {% for event in events %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if event.image %}
                <img src="{{ event.image.url }}" class="card-img-top" alt="{{ event.title }}">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description|truncatewords:20 }}</p>
                    <a href="{% url 'event_detail' event.id %}" class="btn btn-primary">Zobrazit detaily</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        Unfortunately, there is currently no event in this region
    </div>
{% endif %}
{% endblock %}
