{% extends "base.html" %} <!-- Změněno: Dědění ze základní šablony -->

{% block content %}
<div class="row">
    {% for contact in contacts %}
        <div class="col-md-6 mb-4">
            <h3>{{ contact.name }}</h3>
            <p><img src="https://cdn4.iconfinder.com/data/icons/social-media-2097/94/phone-512.png" width="30px" height="30px"> {{ contact.phone }}</p>
            <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Mail_%28iOS%29.svg/480px-Mail_%28iOS%29.svg.png" width="30px" height="30px"> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
            <p>
                {% if contact.instagram %}
                    <a href="{{ contact.instagram }}" target="_blank" class="mr-2">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Instagram_logo_2022.svg/600px-Instagram_logo_2022.svg.png" width="30px" height="30px" class="fab fa-instagram">
                    </a>
                {% endif %}
                {% if contact.facebook %}
                    <a href="{{ contact.facebook }}" target="_blank" class="mr-2">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png" width="30px" height="30px" class="fab fa-facebook">
                    </a>
                {% endif %}
                {% if contact.linkedin %}
                    <a href="{{ contact.linkedin }}" target="_blank">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/LinkedIn_icon.svg/2048px-LinkedIn_icon.svg.png" width="30px" height="30px" class="fab fa-linkedin">
                    </a>
                {% endif %}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
